html.no-js .js,
html.js:not(.domready) .js,
html.js.domready .no-js {
  display: none;
}
.c {
  padding-left: 5.555555555555555%;
  padding-right: 5.555555555555555%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1400px) {
  .c {
    max-width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}
.wide {
  width: 112.5%;
  margin-left: -6.25%;
}
@media (min-width: 1400px) {
  .wide {
    width: 125%;
    margin-left: -12.5%;
  }
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.subh {
  margin-bottom: 0;
}
.subh +* {
  margin-top: 0;
}
.vcenter {
  height: 100%;
  white-space: nowrap;
  word-spacing: -0.25em;
}
.vcenter:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.vcenter >* {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  word-spacing: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  margin: 0;
  line-height: 1.2;
  font: 400 100%/1.2 arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: 'raleway', sans-serif;
  word-spacing: 1px;
  position: relative;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
svg,
object,
img,
video {
  max-width: 100%;
}
img[src][width],
object[type="image/svg+xml"][data][width] {
  height: auto;
}
.img {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img >img {
  display: block;
}
html.js .img >img {
  visibility: hidden;
}
.img.contain {
  background-size: contain;
}
a {
  color: inherit;
  text-decoration: none;
}
:focus {
  outline: 0;
}
.full-height {
  height: auto;
}
@media (min-width: 768px) {
  .full-height {
    height: 100vh;
  }
}
.main-logo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 3em;
  padding: 0.1em;
  z-index: 2;
  background: #333;
  color: #fff;
  font-family: 'raleway';
  font-weight: 300;
  font-size: 100%;
  transition: all 0.3s;
  text-transform: uppercase;
}
.main-logo:hover,
.main-logo:focus {
  color: #fff;
}
.main-logo.active-link {
  color: #fff !important;
}
/* preloader
==================================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
/* change if the mask should be a color other than white */
  z-index: 1000;
/* makes sure it stays on top */
}
.pre-container {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.logo-circle {
  position: relative;
  background: #333;
  color: #fff;
  display: block;
  line-height: 70px;
  font-size: 15px;
  -webkit-animation: white-shadow 1s infinite;
  animation: white-shadow 1s infinite;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
}
@-webkit-keyframes white-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(51,51,51,0.3);
    -webkit-transition: box-shadow 0.3s ease-in-out;
  }
  100% {
    box-shadow: 0 0 0 30px transparent;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: box-shadow 0.4s ease-in-out;
  }
}
.frame-line {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999999;
}
@media (min-width: 768px) {
  .frame-line {
    display: block;
  }
}
.frame-line.top-frame {
  height: 30px;
  top: 0;
}
.frame-line.bottom-frame {
  height: 30px;
  bottom: 0;
}
.frame-line.right-frame {
  width: 30px;
  right: 0;
  height: 100%;
  left: auto;
}
.frame-line.left-frame {
  width: 30px;
  left: 0;
  height: 100%;
  right: auto;
}
.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.display-flex div:first-of-type {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
body.page-home header {
  overflow: hidden;
  position: relative;
}
body.page-home .bigheader {
  height: 100vh;
  overflow: hidden;
}
body.page-home .bigheader video {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
}
body.page-home .nav-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 3;
}
body.page-home .nav-header .hamburger {
  width: 52px;
  height: 50px;
  background-color: transparent;
  border-radius: 0;
  text-align: left;
  cursor: pointer;
  opacity: 0.7;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  border: 0;
  margin: 0;
  overflow: visible;
}
body.page-home .nav-header .hamburger:hover {
  opacity: 0.7;
}
body.page-home .nav-header .hamburger-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
body.page-home .nav-header .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
body.page-home .nav-header .hamburger-inner,
body.page-home .nav-header .hamburger-inner::before,
body.page-home .nav-header .hamburger-inner::after {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
body.page-home .nav-header .hamburger-inner::before,
body.page-home .nav-header .hamburger-inner::after {
  content: "";
  display: block;
}
body.page-home .nav-header .hamburger-inner::before {
  top: -10px;
}
body.page-home .nav-header .hamburger-inner::after {
  bottom: -10px;
}
body.page-home .nav-header .hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
body.page-home .nav-header .hamburger--squeeze .hamburger-inner::before {
  transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
body.page-home .nav-header .hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
body.page-home .nav-header .hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
body.page-home .nav-header .hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
body.page-home .nav-header .hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
body.page-home .nav-header .top-menu {
  position: fixed;
  z-index: -1;
  height: 100vh;
  right: -100%;
  top: 0;
  background: rgba(51,51,51,0.9);
  transition: all 0.7s ease;
  text-align: center;
  width: auto;
  min-width: 70%;
}
body.page-home .nav-header .top-menu ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
body.page-home .nav-header .top-menu ul li {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body.page-home .nav-header .top-menu ul a {
  font-family: 'raleway', sans-serif;
  font-weight: 300;
}
@media (min-width: 1024px) {
  body.page-home .nav-header .top-menu ul a {
    font-size: 250%;
  }
}
body.page-home .nav-header .top-menu.open {
  right: 0;
  top: 0;
}
body.page-home .nav-header .nav {
  list-style: none;
  text-align: center;
/*padding: 0 30px 0 0;*/
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
body.page-home .nav-header .nav a {
  display: block;
  font-size: 100%;
  text-decoration: none;
  color: #fff;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
body.page-home .nav-header .nav>li>a:focus,
body.page-home .nav-header .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #999;
}
body.page-home .nav-header .active-link {
  color: #999 !important;
}
body.page-home .nav-header .open .nav a {
  -webkit-animation: slide-in 0.4s 0.2s backwards;
  animation: slide-in 0.4s 0.2s backwards;
}
body.page-home .nav-header .open .nav li:nth-of-type(2) a {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
body.page-home .nav-header .open .nav li:nth-of-type(3) a {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
body.page-home .nav-header .open .nav li:nth-of-type(4) a {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
body.page-home .nav-header .open .nav li:nth-of-type(5) a {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
body.page-home .nav-header .open .nav li:nth-of-type(6) a {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
body.page-home .nav-header .open .nav li:nth-of-type(7) a {
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
body.page-home .nav-header .open .nav li:nth-of-type(8) a {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
body.page-home .numbers-section {
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  body.page-home .numbers-section {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
  }
}
body.page-home .numbers-section h1 {
  font-family: 'bavroregular';
  font-size: 337%;
  font-weight: 100;
  margin: 0;
}
body.page-home .numbers-section .vertical-line {
  height: 40px;
  width: 2px;
  background: #333;
  display: block;
  text-align: center;
  margin: 10px auto 0;
}
body.page-home .numbers-section h2 {
  font-family: 'releway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  letter-spacing: 2px;
  display: inline-block;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  body.page-home .numbers-section h2 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
    display: block;
    margin-top: 5em;
  }
}
body.page-home section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
/* intro-img-section
    ==================================================*/
/* text-body-section 
    ==================================================*/
}
body.page-home section.about .intro-img-section {
  margin-top: 3em;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  body.page-home section.about .intro-img-section {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  body.page-home section.about .intro-img-section {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}
body.page-home section.about .intro-img-section .vertical-div {
  display: none;
  position: absolute;
  top: -4px;
  right: 30px;
  width: 4px;
}
@media (min-width: 768px) {
  body.page-home section.about .intro-img-section .vertical-div {
    display: block;
  }
}
body.page-home section.about .intro-img-section .vertical-div .vertical-line {
  height: 40px;
  width: 2px;
  background: #333;
  display: block;
  text-align: center;
  margin: 10px auto 0;
}
body.page-home section.about .intro-img-section h2.desk {
  display: none;
  margin: 0;
  font-family: 'releway', sans-serif;
  font-size: 80%;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  letter-spacing: 2px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  body.page-home section.about .intro-img-section h2.desk {
    display: block;
  }
}
body.page-home section.about .intro-img-section .gray-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 98%;
  background: #ddd;
  z-index: 0;
  border: 8px solid #333;
}
@media (min-width: 1440px) {
  body.page-home section.about .intro-img-section .gray-bg {
    width: 80%;
  }
}
body.page-home section.about .intro-img-section img {
  position: relative;
  z-index: 1;
}
body.page-home section.about .text-body-section {
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  body.page-home section.about .text-body-section {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    text-align: left;
  }
}
body.page-home section.about .text-body-section h3 {
  font-family: 'texgyreadventor';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 210%;
  margin-bottom: 0;
}
body.page-home section.about .text-body-section .subtitle {
  font-family: 'releway', serif;
  font-style: italic;
  font-weight: 100;
  color: #999;
  font-size: 100%;
}
body.page-home section.about .text-body-section p {
  line-height: 1.7;
  font-size: 90%;
  font-weight: 300;
}
body.page-home section.services {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #333;
  color: #f5f5f5;
}
@media (min-width: 1024px) {
  body.page-home section.services .numbers-section h2 {
    margin-top: 3em;
  }
}
@media (min-width: 1024px) {
  body.page-home section.services {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
body.page-home section.services .vertical-line {
  background: #f5f5f5;
}
body.page-home section.services .box-icons {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}
@media (min-width: 1024px) {
  body.page-home section.services .box-icons {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    margin-top: 0;
  }
}
body.page-home section.services .box {
  display: block;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body.page-home section.services .box {
    padding-left: 10em;
    padding-right: 10em;
  }
}
@media (min-width: 1024px) {
  body.page-home section.services .box {
    display: inline-block;
    width: 33.333333%;
    text-align: left;
    padding-right: 3em;
    margin-bottom: 3em;
  }
}
body.page-home section.services .image {
  display: none;
  background: url("http://placehold.it/1920x1280");
  background-size: cover;
}
@media (min-width: 1024px) {
  body.page-home section.services .image {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
}
body.page-home section.services .box .divider {
  margin: 0 auto;
  width: 42px;
  height: 1px;
  border-bottom: 1px solid #f5f5f5;
  transition: all 0.5s;
}
@media (min-width: 1024px) {
  body.page-home section.services .box .divider {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  body.page-home section.services .box:hover .divider {
    -webkit-transform: scale(2, 1);
    -ms-transform: scale(2, 1);
        transform: scale(2, 1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
        transform-origin: left;
  }
}
body.page-home section.services .icon-dummy:before {
  content: "\f100";
}
body.page-home section.works {
  padding-top: 2em;
  padding-bottom: 2em;
}
@media (min-width: 1024px) {
  body.page-home section.works {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
body.page-home section.clients {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #333;
  color: #f5f5f5;
}
@media (min-width: 1024px) {
  body.page-home section.clients {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
body.page-home section.clients .vertical-line {
  background: #f5f5f5;
}
body.page-home section.contact {
  padding-top: 2em;
  padding-bottom: 2em;
}
@media (min-width: 1024px) {
  body.page-home section.contact {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
@-webkit-keyframes white-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(51,51,51,0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  100% {
    box-shadow: 0 0 0 30px transparent;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: box-shadow 0.4s ease-in-out;
  }
}
@keyframes white-shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(51,51,51,0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  100% {
    box-shadow: 0 0 0 30px transparent;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: box-shadow 0.4s ease-in-out;
  }
}

